// fonts
@font-face
{
  font-family: montserrat;
  src: url(../assets/fonts/Montserrat/static/Montserrat-Black.ttf);
}

@font-face
{
  font-family: NES;
  src: url(../assets/fonts/NES/Pixel_NES.otf);
}

// variables
$test: gray;
$background: #dba6a6;
$screen-md-min: 768px;
$main-color: #309b25;
$textBackground: #f8f4f4;;

// nav
nav>a>img
{
  position: relative;
  height: 30px;
}

// algemeen
body
{
  margin: 0px;
  padding: 0px;
  background-color: $background;
}

// Home page
.title
{
  margin-top: 30px;
}

.title>h1
{
  margin: 0px;
  font-family: montserrat;
}

.title>p
{
  font-size: 60px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: top;
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

// Homepage > about me

#aboutMe>div
{
  padding: 5px;
}

#aboutMe>div>img, #aboutMe>div>div
{
  border-radius: 25px;
  width: 100%;
  height: 100%;
  position: relative;
}

#aboutMe>div>div
{
  margin: 0px;
  padding: 0px;
  background-color: $textBackground;
  overflow-y: auto;
  width: 100%;
}

#aboutMe>div>div>div
{
  margin: 5px;
}

#aboutMe>div>div>div>div>a
{
  text-decoration: underline;
  color: #000000;
}

#aboutMe>div>div>div>div>h1
{
  font-family: montserrat;
}

@media only screen and (min-width: $screen-md-min) 
{
  #aboutMe>div>div>div>div>p
  {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }
}

// homepage > experience
#experience
{
  margin-top: 30px;
  padding: 5px;
}

#experience>div>h1, #experience>div>h2, #experience>div>div>div>p
{
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px;
}

#experience>div
{
  margin: 0px;
  padding: 25px;
  width: 100%;
  position: relative;
  background-color: $textBackground;
  border-radius: 25px;
}

#experience>div>h1
{
  font-family: montserrat;
  padding-top: 10px;
}

#experience>div>div
{
  padding-top: 15px;
}

#tMonitor
{
  display: none;
}

@media only screen and (min-width: $screen-md-min) 
{
  #experience>div>div
  {
    float: right;
  }

  #carousel
  {
    width: 200px;
    float: right;
  }

  #tMobile
  {
    display: none;
  }

  #tMonitor
  {
    display: block;
  }
}

#test
{
  order: 10;
}

// homepage > contact
#contact>div
{
  margin-top: 30px;
  margin-bottom: 150px;
  padding: 5px;
  background-color: $textBackground;
  border-radius: 25px;
  padding: 25px;
}

#contact>div>div>div>h1
{
  font-family: montserrat;
}

#contact>div>div>div>a>div
{
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
  border-radius: 25px;
  font-weight: bold;
  padding-top: 10px;
}

#contact>div>div>div>a>div:hover #arrow
{
  transform: translatex(5px);
}

// AboutMe page
#pAboutMe>h1
{
  margin-top: 10px;
  font-family: montserrat;
}

#pAboutMe>div>div>div>h1
{
  font-family: NES;
}

#pAboutMe>div>div>div>a>img
{
  position: relative;
  left: 25%;
  width: 50%;
}

.Links>img
{
  image-rendering: pixelated;
  width: 10%;
  bottom: 0;
  margin-left: 20%;
  position: absolute;
  z-index: 2;
}

.LinkTriforce
{
  z-index: 2;
  display: none;
}

#pAboutMe>div>div>div>a:hover .Link
{
  display: none;
}

#pAboutMe>div>div>div>a:hover .LinkTriforce
{
  display: block;
}

#pAboutMe>div>div>div>a:hover .NEScon
{
  opacity: 80%;
}

// #pAboutMe>div>div>div:hover 
// {
//   opacity: 85%;
// }

#game
{
  position: relative;
  margin-top: 10px;
  height: 500px;
}

.modal-body
{
  height: 400px;
}

.modal-content
{
  width: 100px;
}

// footer
footer, nav
{
  background-color: #f5f5f5;
  padding: 10px;
}

footer>div>div>img
{
  height: 30px;
}

footer>div>div>p
{
  color: #000000;
  font-weight: bold;
}