  // User: J. Verbruggen
  // Date: 07/03/2023
  // File: style.scss

// fonts
@font-face
{
  font-family: montserrat;
  src: url(../assets/fonts/Montserrat/static/Montserrat-Black.ttf);
}

@font-face
{
  font-family: NES;
  src: url(../assets/fonts/NES/Pixel_NES.otf);
}

// variables
$background: #FFFFFF;
$screen-md-min: 768px;
$main-color: #309b25;
$textBackground: #f8f4f4;
$text: #000000;
$bootstrap: #FFFFFF;

$backgroundD: #222222;
$textBackgroundD: #434343;
$textD: #FFFFFF;
$bootstrapD: #313131; 

#navT
{
  color: $text;
  padding: 0;
  margin: 0;
}

#navT:hover
{
  opacity: 70%;
}

// nav
nav>a>img
{
  position: relative;
  height: 30px;
}

// algemeen
body
{
  margin: 0px;
  padding: 0px;
  background-color: $background !important;
}

a:hover
{
  cursor: pointer;
}

#sText
{
  color: #FFFFFF;
}

h1
{
  font-family: montserrat;
  color: $text;
}

p, a, h2, label, #tSmall, h5, span
{
  color: $text;
}

#tSmall
{
  opacity: 70%;
}

#btn, #arrow, #arrow2
{
  color: $background;
}

.card, .modal-content
{
  background-color: $bootstrap !important;
}

// Home page
.title
{
  margin-top: 30px;
}

.title>h1
{
  margin: 0px;
}

.title>p
{
  font-size: 60px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: top;
  animation-name: bounce;
  animation-timing-function: ease;
}

#aboutMe>div, #pAboutMe>div
{
  padding: 5px;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

// Homepage > about me
#aboutMe>div>img, #aboutMe>div>div
{
  border-radius: 25px;
  width: 100%;
  height: 100%;
  position: relative;
}

#aboutMe>div>div
{
  margin: 0px;
  padding: 0px;
  background-color: $textBackground;
  overflow-y: auto;
  width: 100%;
}

#aboutMe>div>div>div
{
  margin: 5px;
}

#button
{
  padding-bottom: 70px;
}

#aboutMe>div>div>div>div>a
{
  position: absolute;
  text-decoration: none;
}

#aboutMe>div>div>div>div>a>div
{
  background-color: $text;
  color: $background;
  width: 100%;
  border-radius: 25px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

#aboutMe>div>div>div>div>a>div:hover #arrow
{
  transform: translatex(5px);
}

@media only screen and (min-width: $screen-md-min) 
{
  #aboutMe>div>div>div>div>p
  {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }
}

// homepage > experience
#experience
{
  margin-top: 30px;
  padding: 5px;
}

#experience>div>h1, #experience>div>h2, #experience>div>div>div>p
{
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px;
}

#experience>div
{
  margin: 0px;
  padding: 25px;
  width: 100%;
  position: relative;
  background-color: $textBackground;
  border-radius: 25px;
}

#experience>div>h1
{
  padding-top: 10px;
}

#experience>div>div
{
  padding-top: 15px;
}

#tMonitor
{
  display: none;
}

@media only screen and (min-width: $screen-md-min) 
{
  #experience>div>div
  {
    float: right;
  }

  #carousel
  {
    width: 200px;
    float: right;
  }

  #tMobile
  {
    display: none;
  }

  #tMonitor
  {
    display: block;
  }
}

#test
{
  order: 10;
}

// homepage > contact
#contact>div
{
  margin-top: 30px;
  margin-bottom: 150px;
  padding: 5px;
  background-color: $textBackground;
  border-radius: 25px;
  padding: 25px;
}

#contact>div>div>div>a
{
  text-decoration: none;
}

#contact>div>div>div>a>div
{
  background-color: $text;
  color: $background;
  width: 100%;
  border-radius: 25px;
  font-weight: bold;
  padding-top: 10px;
}

#contact>div>div>div>a>div:hover #arrow2
{
  transform: translatex(5px);
}

// AboutMe page
#pAboutMe>h1
{
  margin-top: 10px;
}

#pAboutMe>div>div>div>h1
{
  font-family: NES;
}

#pAboutMe>div>div>div>a>img
{
  position: relative;
  left: 25%;
  width: 50%;
}

.Links>img
{
  image-rendering: pixelated;
  width: 10%;
  bottom: 0;
  margin-left: 20%;
  position: absolute;
  z-index: 2;
}

.LinkTriforce
{
  z-index: 2;
  display: none;
}

#pAboutMe>div>div>div>a:hover .Link
{
  display: none;
}

#pAboutMe>div>div>div>a:hover .LinkTriforce
{
  display: block;
}

#pAboutMe>div>div>div>a:hover .NEScon
{
  opacity: 80%;
}

#game
{
  position: relative;
  margin-top: 10px;
  height: 500px;
}

.modal-body
{
  height: 400px;
}

.modal-content
{
  width: 100px;
}

// About me page
#tAboutMe>div
{
  margin-top: 30px;
  margin-bottom: 150px;
  padding: 5px;
  background-color: $textBackground;
  border-radius: 25px;
  padding: 25px;
}

#bold
{
  font-weight: bold;
  color: $text;
  padding: 0;
  margin: 0;
}

#noMP
{
  margin: 0;
  padding: 0;
}

#ul
{
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

#tAboutMe>div>div>div>a>div:hover #arrow
{
  transform: translatex(5px);
}

// Experience page
#pExperience>div>div
{
  margin-top: 20px;
}

#textBox
{
  background-color: $textBackground;
  border-radius: 25px;
  margin: 5px;
  width: 100%;
}

// Contact page
#pContact
{
  margin-top: 30px;
}

#pContact>div>div>div>div>div>img
{
  border-radius: 50% 20% / 10% 40%;
  width: 75%;
  padding-top: 30px;
}

#pContact>div>div>div>div>div>div>div
{
  margin-top: 10px;
  position: relative;
  padding-bottom: 150px;
}

#pContact>div>div>div>div>div>div>div>a
{
  color: $text;
  text-decoration: underline;
}

#pContact>div>div>div>div>div>div>div>a>p>img
{
  position: relative;
  height: 16px;
  bottom: 2px;
  margin-right: 3px;
}

@media only screen and (min-width: $screen-md-min) 
{
  #pContact>div>div>div>div>div>img
  {
    padding-top: 0;
    padding-bottom: 0px;
    height: 300px;
    width: 300px;
  }

  form>button
  {
    margin-bottom: 90px;
  }
}

// footer
footer, nav
{
  background-color: $textBackground;
  padding: 10px;
  filter: brightness(97%);
}

footer>div>div>img
{
  height: 30px;
}

footer>div>div>p
{
  color: $text;
  font-weight: bold;
}

@media (prefers-color-scheme: dark)
{
  body
  {
    background-color: $backgroundD !important;
  }

  nav>a>img, footer>div>div>img, #navTog
  {
    -webkit-filter: invert(100%);
    filter: invert(100%)
  }

  h1
  {
    color: $textD !important;
  }

  p, a, h2, label, #tSmall, h5, span, #bold
  {
    color: $textD !important;
  }

  #btn, #arrow, #arrow2
  {
    color: $backgroundD !important;
  }

  #contact>div>div>div>a>div, #aboutMe>div>div>div>div>a>div
  {
    background-color: $textD;
  }

  .card, .modal-content
  {
    background-color: $bootstrapD !important;
  }

  #aboutMe>div>div, #experience>div, #contact>div, #tAboutMe>div, #textBox, footer, nav
  {
    background-color: $textBackgroundD !important;
  }
}