#image
/*zorgt voor de positie van de afbeelding*/
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}   

.midden
/*zorgt voor de positie van de teskt*/
{
    text-align: center;
}

/*zet de table variable in het midden*/
table
{
    margin-left: auto;
    margin-right: auto;
}

#hond
/*zorgt voor de positie van de afbeelding van de hond en kat*/
{
    position: absolute;
    bottom: 100px;
    left: 10px;
}

#kat

{
    transform: scaleX(-1);
    position: absolute;
    bottom: 100px;
    right: 10px;
}